button {
  background: transparent;
  background-color: transparent;

  border: none;
}
button:focus {
  outline: none;
  border: none;
}
button:active {
  outline: none;
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface-100: #121212;
  --surface-200: #282828;
  --surface-300: #3f3f3f;
  --surface-400: #575757;
  --surface-500: #717171;
  --surface-600: #8b8b8b;
  --text: white;
  --sub-text: #a7a7a7;
}

.appContainer {
  background-color: var(--surface-300);
  padding: 16px;
  overflow: hidden;
}

.stocksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: min-content;
  gap: 16px;
  height: 100%; /* Ensures the grid spans the container's height */
  width: 70%;
}

.stockContainer {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--surface-100);
  color: var(--text);
  padding: 8px;
  border-radius: 8px;
}

.stockCode {
  font-weight: bold;
}

.stockDescription {
  font-size: 12px;
  text-overflow: ellipsis;
  color: var(--sub-text);
}
